name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, labeled]

jobs:
  check-changelogs:
    name: Changelog Compliance
    uses: Volontariapp/ci-tools/.github/workflows/npm-packages-changelog.yml@main
    secrets:
      ORG_REPO_TOKEN: ${{ secrets.ORG_REPO_TOKEN }}

  test-build:
    name: Build & Test
    needs: check-changelogs
    if: needs.check-changelogs.outputs.has_changes == 'true' && (github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'run_ci'))
    uses: Volontariapp/ci-tools/.github/workflows/npm-packages-test-build.yml@main
    with:
      changed_packages: ${{ needs.check-changelogs.outputs.changed_packages }}
    secrets:
      ORG_REPO_TOKEN: ${{ secrets.ORG_REPO_TOKEN }}
